.indexForm{
    position:absolute;
    display: flex;
    justify-content: space-between;
    // height:40%;
    left: 35%;
    width:30%;
    top:30%;
    border:solid 1px;
    border-radius: 15px;
    box-shadow: 5px 10px;
}

.indexForm>form{
    display: flex;
    flex-direction: column;
    padding-top:10%;
    padding-bottom: 5%;
    border-radius: 15px;
    width:100%;
    background-color: rgb(186, 186, 186);
}

.indexForm>form>input {
    position: relative;
    left:5%;    // background-color: grey;
    width:90%;
}

.indexForm>form>button {
    position: relative;
    width:90%;
    left:5%;
}