.topic{
    color: white;
    background-color: rgb(44, 128, 207);
    padding:0.5em;
    margin:0.1em;
    border-radius:0.2em;
    position:relative;
}

.tags{
    height:1em;
    display: flex;
    align-items: center;
}