<div *ngIf="twitterHandle">
    <a style="color: #55acee;" [href]="twitter_url" target="_blank" role="button">
        <fa-icon [icon]="twitter"></fa-icon>
        &nbsp;{{twitterHandle}}
    </a>
</div>
<div *ngIf="email">
    <a [href]="email_url" target="_blank" role="button">
        &nbsp; <fa-icon [icon]="mail"></fa-icon>
        {{email}}
    </a>
</div>
<div *ngIf="blog">
    <a [href]="blog" role="button">
        &nbsp; <fa-icon [icon]="link"></fa-icon>
        {{blog}}
    </a>
</div>